**.orig
*.rbc
*.sassc
.DS_Store
.rspec
.sass-cache
.swp
.vagrant
/.bundle
/.idea
/coverage/
/db/*.sqlite3
/log/*
/public/assets
/public/rmc_frontend
/public/system/*
/spec/tmp/*
/tmp/*
/vendor/bundle
_local_*
capybara-*.html
pickle-email-*.html
rerun.txt
tags

